/**
 * @file images.scss
 * @description list of images of classic examples of beer styles
 * @author Pavel Anisimov
 * @copyright Pavel Anisimov 2017-2018
 */

.marzen {
  background-image: url('./images/marzen.jpg');
}

.wee-heavy {
  background-image: url('./images/wee-heavy.jpg');
}

.foreign-extra-stout {
  background-image: url('./images/foreign-extra-stout.jpg');
}

.american-stout {
  background-image: url('./images/american-stout.jpg');
}

.irish-stout {
  background-image: url('./images/irish-stout.jpg');
}

.dunkles-bock {
  background-image: url('./images/dunkles-bock.jpg');
}

.american-porter {
  background-image: url('./images/american-porter.jpg');
}

.german-pils {
  background-image: url('./images/german-pils.jpg');
}

.munich-helles {
  background-image: url('./images/munich-helles.jpg');
}

.international-amber-lager {
  background-image: url('./images/international-amber-lager.jpg');
}

.scottish-light {
  background-image: url('./images/scottish-light.jpg');
}

.american-pale-ale {
  background-image: url('./images/american-pale-ale.jpg');
}

.lambic {
  background-image: url('./images/lambic.jpg');
}

.english-barleywine {
  background-image: url('./images/english-barleywine.jpg');
}

.munich-dunkel {
  background-image: url('./images/munich-dunkel.jpg');
}

.best-bitter {
  background-image: url('./images/best-bitter.jpg');
}

.american-barleywine {
  background-image: url('./images/american-barleywine.jpg');
}

.sweet-stout {
  background-image: url('./images/sweet-stout.jpg');
}

.scottish-heavy {
  background-image: url('./images/scottish-heavy.jpg');
}

.weissbier {
  background-image: url('./images/weissbier.jpg');
}

.altbier {
  background-image: url('./images/altbier.jpg');
}

.california-common {
  background-image: url('./images/california-common.jpg');
}

.american-wheat {
  background-image: url('./images/american-wheat.jpg');
}

.helles-bock {
  background-image: url('./images/helles-bock.jpg');
}

.schwarzbier {
  background-image: url('./images/schwarzbier.jpg');
}

.american-dipa {
  background-image: url('./images/american-dipa.jpg');
}

.doppelbock {
  background-image: url('./images/doppelbock.jpg');
}

.witbier {
  background-image: url('./images/witbier.jpg');
}

.belgian-pale-ale {
  background-image: url('./images/belgian-pale-ale.jpg');
}

.belgian-blond-ale {
  background-image: url('./images/belgian-blond-ale.jpg');
}

.scottish-export {
  background-image: url('./images/scottish-export.jpg');
}

.imperial-stout {
  background-image: url('./images/imperial-stout.jpg');
}

.cream-ale {
  background-image: url('./images/cream-ale.jpg');
}

.weizenbock {
  background-image: url('./images/weizenbock.jpg');
}

.irish-red-ale {
  background-image: url('./images/irish-red-ale.jpg');
}


.berliner-weisser {
  background-image: url('./images/berliner-weisser.jpg');
}

.american-brown-ale {
  background-image: url('./images/american-brown-ale.jpg');
}

.ordinary-bitter {
  background-image: url('./images/ordinary-bitter.jpg');
}

.english-porter {
  background-image: url('./images/english-porter.jpg');
}

.american-lager {
  background-image: url('./images/american-lager.jpg');
}

.old-ale {
  background-image: url('./images/old-ale.jpg');
}

.dark-mild {
  background-image: url('./images/dark-mild.jpg');
}

.belgian-tripel {
  background-image: url('./images/belgian-tripel.jpg');
}

.vienna-lager {
  background-image: url('./images/vienna-lager.jpg');
}

.eisbock {
  background-image: url('./images/eisbock.jpg');
}

.belgian-dark-strong-ale {
  background-image: url('./images/belgian-dark-strong-ale.jpg');
}

.czech-premium-pale-lager {
  background-image: url('./images/czech-premium-pale-lager.jpg');
}

.american-amber-ale {
  background-image: url('./images/american-amber-ale.jpg');
}

.czech-pale-lager {
  background-image: url('./images/czech-pale-lager.jpg');
}

.strong-bitter {
  background-image: url('./images/strong-bitter.jpg');
}

.british-brown-ale {
  background-image: url('./images/british-brown-ale.jpg');
}

.belgian-dubbel {
  background-image: url('./images/belgian-dubbel.jpg');
}

.gueuze {
  background-image: url('./images/gueuze.jpg');
}

.baltic-porter {
  background-image: url('./images/baltic-porter.jpg');
}

.flanders-red-ale {
  background-image: url('./images/flanders-red-ale.jpg');
}

.saison {
  background-image: url('./images/saison.jpg');
}

.american-light-lager {
  background-image: url('./images/american-light-lager.jpg');
}

.kolsch {
  background-image: url('./images/kolsch.jpg');
}

.american-ipa {
  background-image: url('./images/american-ipa.jpg');
}

.oatmeal-stout {
  background-image: url('./images/oatmeal-stout.jpg');
}

.belgian-golden-strong-ale {
  background-image: url('./images/belgian-golden-strong-ale.jpg');
}

.biere-de-garde {
  background-image: url('./images/biere-de-garde.jpg');
}

.czech-amber-lager {
  background-image: url('./images/czech-amber-lager.jpg');
}

.british-golden-ale {
  background-image: url('./images/british-golden-ale.jpg');
}

.english-ipa {
  background-image: url('./images/english-ipa.jpg');
}

.australian-sparkling-ale {
  background-image: url('./images/australian-sparkling-ale.jpg');
}

.wheatwine {
  background-image: url('./images/wheatwine.jpg');
}

.irish-extra-stout {
  background-image: url('./images/irish-extra-stout.jpg');
}

.fruit-lambic {
  background-image: url('./images/fruit-lambic.jpg');
}

.tropical-stout {
  background-image: url('./images/tropical-stout.jpg');
}

.oud-bruin {
  background-image: url('./images/oud-bruin.jpg');
}

.british-strong-ale {
  background-image: url('./images/british-strong-ale.jpg');
}